[core]
	autocrlf = false
	safecrlf = false
	editor   = vim
	pager    = less -x1,3
	excludesfile = ~/.gitignore_global
[credential]
	helper = cache
[init]
	defaultBranch = master
[alias]
	g = grep --break --heading --line-number
[http]
	sslVerify = false
[push]
	default = current
	autoSetupRemote = true
[pull]
	rebase = true
[grep]
	lineNumber = true
[filter "lfs"]
	clean    = git-lfs clean -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process
	required = true
