## First-found match wins.
## First-declared parameter (under Host match) wins.
## See : man ssh_config

Host adm admin a0 a0.dev.lan repos.dev.lan
    Hostname 192.168.77.100

Host a1 a1.dev.lan
    Hostname 192.168.77.101

Host a2 a2.dev.lan
    Hostname 192.168.77.102

Host a3 a3.dev.lan
    Hostname 192.168.77.103

Host proxmox
    Hostname 192.168.26.181
    User root
    IdentityFile ~/.ssh/proxmox

Host gitea git.kube.dev.lan
    Hostname 192.168.77.11
    Port 30022
    User git
    IdentityFile ~/.ssh/git.kube.dev.lan
    RequestTTY no
    IdentitiesOnly yes
    IdentityAgent none

Host github github.com
    Hostname github.com
    User git
    IdentityFile ~/.ssh/github_abc4
    RequestTTY no
    #Compression yes
    #BatchMode yes

Host gitlab gitlab.com
    Hostname gitlab.com
    User git
    IdentityFile ~/.ssh/gitlab_abc4
    RequestTTY no
    #Compression yes
    #BatchMode yes

## Catch all
Host *
    Protocol 2
    Port 22
    CheckHostIP no
    LogLevel QUIET
    #AddKeysToAgent yes
    #HashKnownHosts yes
    User u77
    IdentityFile ~/.ssh/vm_dev
    RequestTTY yes

    #PreferredAuthentications publickey
    #GSSAPIAuthentication no

    ## ControlMaster (UNIX socket / reuse) : Fails @ WSL(2)
    #ControlMaster auto
    #ControlPersist 600
    #ControlPath ~/.ssh/master-%r@%h:%p

    ## ServerAlive settings to disconnect after 21 seconds (3 expected messages) of server silence
    ServerAliveInterval 7
    ServerAliveCountMax 3

    ## Fast and secure 
    Ciphers aes256-gcm@openssh.com,chacha20-poly1305@openssh.com,aes256-ctr
    KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
    MACs hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com

    ## FIPS 140-2/3
    #KexAlgorithms ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256
    #Ciphers aes256-gcm@openssh.com,aes256-ctr
    #MACs hmac-sha2-512,hmac-sha2-384
    #HostKeyAlgorithms ecdsa-sha2-nistp384,ecdsa-sha2-nistp521,rsa-sha2-512,rsa-sha2-256

    ## Sans compression is faster unless large data streams
    Compression no

    #ForwardAgent no
    #ForwardX11 no
    #ForwardX11Trusted yes

