## First-found declaration per Host match wins.
## See : man ssh_config

Host a0 admin
    Hostname 192.168.11.100

Host a1 
    Hostname 192.168.11.101

Host a2
    Hostname 192.168.11.102

Host a3
    Hostname 192.168.11.103

Host gateway router
    Hostname 192.168.28.1
    User ddwrter
    IdentityFile ~/.ssh/gateway
    #BatchMode yes

Host github  github.com
    Hostname github.com
    User git
    IdentityFile ~/.ssh/github_semper
    RequestTTY no
    #Compression yes
    #BatchMode yes

Host gitlab  gitlab.com
    Hostname gitlab.com
    User git
    IdentityFile ~/.ssh/gitlab_semper
    RequestTTY no
    #Compression yes
    #BatchMode yes

## Catch all
Host *
    Protocol 2
    Port 22
    CheckHostIP no
    LogLevel QUIET

    #AddKeysToAgent yes
    #HashKnownHosts yes
    User u1
    IdentityFile ~/.ssh/lan_common
    IdentityFile ~/.ssh/ecdsa
    RequestTTY yes

    #PreferredAuthentications publickey
    #GSSAPIAuthentication no

    ## ControlMaster (UNIX socket / reuse) : Fails @ WSL(2)
    #ControlMaster auto
    #ControlPersist 600
    #ControlPath ~/.ssh/master-%r@%h:%p

    ## ServerAlive settings to disconnect after 21 seconds (3 expected messages) of server silence
    ServerAliveInterval 7
    ServerAliveCountMax 3

    ## Fast and secure : FIPS 140-2 (2024-07) compliant
    Ciphers aes256-gcm@openssh.com,chacha20-poly1305@openssh.com,aes256-ctr
    ## Additional recommended settings for security (2024-07)
    KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
    MACs hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com

    ## Sans compression is faster unless large data streams
    Compression no

    #ForwardAgent no
    #ForwardX11 no
    #ForwardX11Trusted yes

